.about {
  font-size: 1.6rem;
  background-color: var(--black);
  padding-top: 80px;
  color: var(--white);
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
}

.hero__img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 60px;
}

.hero__img img {
  max-width: 100%;
  height: auto;
}

.container__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.container__left_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: flex-start;
  gap: 30px;
  flex-wrap: wrap;
}

.container__left_div p {
  color: var(--white);
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
}
.container__left_div p:first-child {
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
  font-size: 1.2rem;
  background: linear-gradient(310deg, #ef7355, #ffbb86, #8781c6);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.container__left_div h2 {
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.container__left_div p:last-of-type {
  font-weight: 300;
  font-size: 1.6rem;
}

.container__button {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
  padding-top: 32px;
}

@media only screen and (max-width: 1240px) {
  .container__left {
    padding-left: 18px;
  }
}
@media only screen and (max-width: 1204px) {
  .hero__img img {
    max-width: 80%;
    height: auto;
  }
  .container {
    gap: 20px;
  }
}
@media only screen and (max-width: 1161px) {
  .hero__img img {
    max-width: 80%;
    height: auto;
  }
  .container {
    gap: 0px;
  }
}

@media only screen and (max-width: 550px) {
  .hero__img img {
    max-width: 50%;
    height: auto;
  }
}
@media only screen and (max-width: 425px) {
  .container__left {
    padding-left: 0px;
  }

  .container__left_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  .container__button {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .container__left_div h2 {
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .container__left_div p:last-of-type {
    font-weight: 300;
    font-size: 1.2rem;
  }
}