.footer {
  width: 100%;
  font-size: 1.6rem;
  background-color: var(--black);
  color: var(--white);
  border-top: solid 2px rgba(255, 255, 255, 0.1);
  border-bottom: solid 6px #f38360;
}
.nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 82px;
  flex-wrap: wrap;
}
.nav__menu {
  display: flex;
  align-items: center;
  column-gap: 2.8rem;
}
.nav__menu a:hover {
  color: var(--hover);
}
.logo {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .nav__wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 68px;
    flex-wrap: wrap;
    row-gap: 12px;
  }
}
@media only screen and (max-width: 550px) {
  .nav__menu {
    display: flex;
    align-items: center;
    column-gap: 2.8rem;
    flex-wrap: wrap;
    row-gap: 8px;
  }
  .logo img {
    max-width: 80%;
    height: auto;
  }
}