.status {
  padding: 40px;
  background: rgba(255, 255, 255, 0.02);
  border-radius: 10px;
  min-width: 180px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;
}

.status p {
  margin-bottom: 0px !important;
  padding-left: 8px;
}
.status h2 {
  margin-bottom: 0px !important;
  min-width: 100px;
}
