.about {
  min-height: 100vh;
  font-size: 1.6rem;
  background-color: var(--bg);
  padding-top: 80px;
  color: var(--white);
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
}

.hero__img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 100px;
  padding-bottom: 100px;
}

.hero__img img {
  max-width: 100%;
  height: auto;
}

.container__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.container__left_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: flex-start;
  gap: 30px;
  flex-wrap: wrap;
}

.container__left_div p {
  color: var(--white);
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
}

.container__left_div p:first-child {
  font-size: 1.2rem;
  background: var(--gradient);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.container__left_div h2 {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.container__left_div p:last-of-type {
  font-weight: 300;
  font-size: 1.6rem;
}

.ri-check-line {
  text-align: center;
  padding-left: 10px;
}

@media only screen and (max-width: 994px) {
  .hero__img {
    padding-right: 0px;
  }

  .hero__img img {
    max-width: 80%;
    height: auto;
  }
}

@media only screen and (max-width: 894px) {
  .hero__img img {
    max-width: 80%;
    height: auto;
  }

  .container {
    gap: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .container__left_div h2 {
    font-weight: 500;
    font-size: 3rem;
  }
  
  .container__left {
    padding-inline: 20px;
  }
}