.boxLeft {
  border: solid 1px var(--border);
}

.boxLeft__title {
  min-height: 48px;
  background-color: var(--table-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxLeft__center {
  min-height: 345px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxLeft__center_container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 16px 80px 16px 40px;
}

.boxLeft__center_container ul li {
  padding-bottom: 30px;
}

.boxLeft__center_title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
  padding-top: 16px;
}

.boxLeft__center_title h2 {
  font-size: 4rem;
}