.about {
  min-height: 100vh;
  font-size: 1.6rem;
  background-color: var(--bg);
  padding-top: 80px;
  color: var(--white);
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
}

.hero__img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 100px;
  padding-bottom: 100px;
  padding-top: 60px;
}

.hero__img img {
  max-width: 100%;
  height: auto;
}

.container__left {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    min-height: 100vh;
    gap: 80px;

}
.container__left_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: flex-start;
  gap: 30px;
  flex-wrap: wrap;
}

.container__left_div p {
    color: linear-gradient(310deg, #ef7355, #ffbb86, #8781c6);
    font-size: 1.2rem;
    letter-spacing: .2rem;
    margin-bottom: 20px;

}
.container__left_div h2 {
    font-size: 4.0rem;

    font-weight: 500;
    margin-bottom: 20px;

}

.container__left_div p:last-of-type {
    font-weight: 300;

    font-size: 1.6rem;
  }

  .ri-check-line {
    text-align: center;
    padding-left: 10px;
  }
.span{
    display: flex;
}  
.span p{
    padding-left: 16px;
}
