.card {
  width: 320px;
  height: 320px;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 12px;
  color: var(--white);
  font-size: 1.6rem;
}

.card h2 {
  font-weight: 500;
  font-size: 2.2rem;
}

.card__div {
  background-color: var(--bg);
  text-align: center;
}

.card__div i {
  font-size: 5rem;
  background: linear-gradient(310deg, #ef7355, #ffbb86, #8781c6);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
