@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --max-width: 2200px;
  --black: #1f2229;
  --white: #ffffff;
  --bg: #23262d;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-size: 62.5%;
  position: relative;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style-type: none;
}

@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
    background-color: var(--bg);
  }
}
