.pre_hero {
  background: #a28eb8;
  height: 10px;
  display: block;
}

.hero {
  min-height: 100vh;
  font-size: 1.6rem;
  background-color: var(--bg);
  color: var(--white);
  border-top-right-radius: 28px;
  border-top-left-radius: 28px;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 8px;
}

.hero__img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 100px;
  padding-bottom: 100px;
  padding-top: 60px;
}

.hero__img img {
  max-width: 100%;
  height: auto;
}

.container__left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 28px;
  min-height: 100vh;
}
.container__left_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container__left_div h1 {
  margin: 16px 0px;
  font-size: 5.5rem;
  font-weight: 700;
  align-self: flex-start;
  gap: 12px;
}

.container__footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__footer p {
  font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
  .hero__img {
    padding-right: 0px;
    padding-bottom: 28px;
    padding-top: 0px;
  }
  .hero__img img {
    max-width: 80%;
  }
}

@media only screen and (max-width: 576px) {
  .hero__img img {
    max-width: 50%;
  }
  .container__left {
    padding: 0px 8px 16px 0px;
  }
  .container__left_div p {
    margin-bottom: 12px;
  }
}
