.services {
  min-height: fit-content;
  font-size: 1.6rem;
  background-color: var(--black);
  color: var(--white);
}

.services__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 42px;
  padding: 80px 0px;
}

.services__div {
  padding: 8px 16px;
  background: #272a31;
  border-radius: 24px;
  margin-bottom: 4px;
}

.services__div span {
  font-size: 1.6rem;
  background: linear-gradient(310deg, #ef7355, #ffbb86, #8781c6);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.services h2 {
  font-size: 3.6rem;
}
.services__slider {
  margin-bottom: 220px;
}

@media only screen and (max-width: 420px) {
  .services__slider {
    height: 280px;
  }
}
