.testimonials {
  background-color: var(--bg);
  color: var(--white);
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  font-size: 1.6rem;
}
.testimonials__left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.testimonials__left__div {
  max-width: 550px;
  height: 120px;
  margin: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  cursor: pointer;
  display: flex;
}

.testimonials__div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.testimonials__div span {
  width: 30%;
  font-size: 28px;
}

.testimonials__div div {
  margin-left: 16px;
}

.testimonials__div div h6 {
  text-align: left;
  font-size: 1.6rem;
}
.testimonials__div div p {
  text-align: left;
  font-size: 1.2rem;
}

.testimonials__right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media only screen and (max-width: 550px) {
  .testimonials {
    flex-wrap: wrap;
  }
}
